.grid-wrapper{
    max-width: 600px;
}



.grid{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}


.turn-highlight{
    color: white;
}

.reset{
    padding: 1rem;
    color:white;
    background-color: var(--resetGreen);
    border-radius: 10px;
    border:none;
    width:100%;
}